h1{
    color:#0D3B66 ;
}

.edit-btn{
   background-color:#F4D35E ;
}

.add-btn{
 background-color:#00A896 ;
}

.del-btn{
background-color:#EE6C4D ;
}

.text{
    background-color: #FAF3DD;
    color:#3D5A80 ;
}