body{
    font-family:'Times New Roman', Times, serif;
    
}

.container{
    border-color: black;
    margin: 10px;
    padding: 60px;
}
h1{
    text-align: center;
    padding-top: 20px;
    
}

.login{
    text-align: center;
    margin: 1px;
    padding-top: 3px;
    padding-left: 30px;
    height: 100%;
    width: 100%;
}

input{
    margin: 10px;
    padding-left: 30px;
    
}

button{
    margin: 10px;
    padding: 5px;
    background-color: cadetblue;
    width: 60px;
}
label{
    padding: 5px;
    margin: 3px;
    
}
text{
    text-align: center;
}