main{
    
    height: 100vh;
    margin: 101px;
   
}

.about-section {
      max-width: 1000px;
      margin: 40px auto;
      padding: 0 20px;
    }

.about-section h2{
    font-size: 36px;
    padding: 10px;
    text-align: center;
    margin: 10px;
   
}

.about-section p{
    font-size: 18px;
     line-height: 1.8;
     margin-bottom: 20px;
}

.about-section ul{
    list-style: none;
    margin-bottom: 20px;
}

.about-section ul li{
    padding: 12px 18px;
    background-color: azure;
    margin-bottom: 10px;
    border-left: 2px solid #E63946;
}
