main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    padding: 30px;
    width: 700px;
    box-shadow: 2px 2px 10px black;
}

.container h1{
    text-align: center;
    margin-bottom: 20px;
    
}

.container p{
    text-align: center;
    margin-bottom: 10px;
}

.container  label {
      display: block;
      margin-bottom: 8px;
      font-weight: bold;
     
}

.container input{
    display: block;
    width: 100%;
    margin: 10px;
    height: 35px;
}

.container textarea{
    width: 100%;
    margin-bottom: 10px;
    margin-left: 10px;
}

.container button{
    margin-bottom: 10px;
    margin-left: 10px;
    height: 40px;
    width: 150px;
      background-color:#E63946;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
}